*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.my-navbar{
  display: flex;
font-family: 'Bebas Neue', cursive;
font-size: 2rem;
justify-content: space-between;
background: #333;
top: 0;
z-index: 1;
border-bottom:3px solid #FFD500;
}

.my-navbar .navbar-brand{
  color:#fff;
  font-size: 2rem;
}

.navbar-nav .nav-item .nav-link{
    display: block;
    float: right;
    margin-right:10px;



    text-align: center;
    color: #fff;


     border-radius: 20px;

}

.navbar-nav .nav-item .nav-link:hover{
  color:#fff;
  background-color: #FFD500;

}
body{
  font-size: 10px;
  font-family: Montserrat, sans-serif;;
}
.navbar-primary{
  color:#333
}
/* Navigation Bar */
#navbar{
  display: flex;
  font-family: 'Bebas Neue', cursive;
  justify-content: space-between;
  background: #333;
  padding: 1.3rem 7rem;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom:3px solid #FFD500;
}

#navbar ul{
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar h2 a{
  color: #fff;
  font-size: 2rem;
  text-decoration: none;

}

#navbar li a{
  color:#fff;
  text-decoration: none;
  padding:1rem;
  margin: 0 0.5rem;
  font-size: 1.7rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#navbar li a:hover{
  background-color: #FFD500;
}

#frontpage{
  background: url(../images/IMG_20191226_141400.jpg) no-repeat center center/cover;
  height: 100vh;
}

.fp-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  height:91.5vh;
  top:81px;
  left: 0;
  bottom: 0;
  right:0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.container p1{
  font-size: 20px;
}

/* About Page */

#about{
  background-color: #d7d7d7;
  height:190vh;
}
#littlebit h1{
  font-weight: bold;
  font-size: 3rem;
  padding-top: 10rem;
  margin-bottom: 8rem;
  margin-top:0rem;
  margin-left:8rem;
}


 #info ul{
  margin-left: 8rem;
  font-family: Montserrat;
  font-size: 2rem;
  line-height: 1.2;
  list-style: none;
}

 #about #description{
   margin-top: 8rem;
   margin-right:60rem;
   padding-right: ;
margin-left: 8rem;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  text-justify: inter-word;
  text-align: justify;

}

.circular--square{
  position: absolute;
width: 22.5rem;
height: 23.75rem;
left: 86.5625rem;
top: 75rem;
border-radius: 50%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Trackrecord */
.trackrecord{
  margin-top: 14rem;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 1rem;
}
.trackrecord ul{
  font-size: 2rem;
  line-height: 1.2;
  list-style: none;
  display:flex;
}

.trackrecord li{
  padding:5rem;
  margin: 0 0.5rem;
  /* font-size: 1.7rem; */
}
.trackrecord #elem{
  display:table;
  text-align: center;
  width:235px;
  height:auto;
  font-weight:bolder;
}

.trackrecord #middle{
  /* top: 121.6rem;
  left: 50rem;
  position: absolute; */
  margin-left: 10rem;
  margin-top: -3rem;
  display:table;
  text-align: center;
  font-weight:bolder;
}

.trackrecord .middleschool{
width:244px;
height:auto;
}

.trackrecord #univ{
  /* top: 121.6rem;
  left: 50rem;
  position: absolute; */
  margin-left: 10rem;
  margin-top: 0rem;
  display:table;
  text-align: center;
  font-weight:bolder;

}

.trackrecord .university{
width:248px;
height:auto;
}

/* Skills */
.skills{
  margin-left: 10rem;
}

.skills h1{
  font-size: 3rem;
}

.skills ul{
 display: flex;
 list-style: none;
}

.skills li {
  text-decoration: none;
  padding-right:3rem;
  font-size: 5rem;
}

.misc{
  margin: 0 0;
}

.misc .makara{
  padding-top:1rem;
  padding-left: 60rem;
}

.misc .fasilkom{
  padding-top:1rem;
  padding-left: 10rem;
}

/* Contact */
.contactpage{
  margin-top: 10rem;
  margin-right:10rem;

 height:100%;
 min-height:100vh;
}


.SNS ul{
  align-items: center;
  list-style: none;
}


.SNS li {
  color:#000;
  text-decoration: none;
  font-style: none;

  font-size: 1.7rem;
}
.emailsent{

  padding-left:50rem;
}
